<div class="row">
  <div class="col-sm-8 col-xs-12">
    
    <div class="panel panel-default link-featured">
      <div class="panel-heading">
        <h2 class="link-title"><%= link.title %></h2>
      </div>
      
      <div class="panel-body">
        <p class="text-center">
          <%= link_to link.url, target: "_blank" do %>
            <%= image_tag(link.website_image.url(:medium), size: "200x200") %>   
          <% end %>
        </p>
      </div>
      
      <ul class="list-group">
        <li class="list-group-item link-options">
          <div class="link-options-group">
            <span id="link-approval">
              <%= render partial: 'links/partials/approve_link', 
                         locals: { link: link } %>
            </span>
            
            <span class="pull-right <%= 'visit-button' unless user_signed_in? %>">
            <%= link_to "Visit Site", link.url, 
                  class: "btn btn-default",
                  target: "_blank" %>
            </span>
          </div>
        </li>
        
        <li class="list-group-item link-description">
          <p class="lead">
            <%= link.description %>
          </p>
        </li>
          
        <li class="list-group-item link-user">
          <span>
            <strong>Submitted by:</strong><br>
            <%= link_to user_path(link.user) do %>
              <%= image_tag(link.user.profile_image.url(:micro)) %><br>
              <%= link.user.username %>
            <% end %>
          </span>
          
          <span class="pull-right">
            <%= social_share_button_tag(link.title, url: link.url) %>
          </span>
        </li>
          
      </ul>
      
    </div>
      
  </div>
</div>