<div class="row">
  <div class="col-sm-8 col-xs-12">
    <h2><%= link.title %></h2>
    
    <p>
    <%= image_tag(link.website_image.url(:medium), size: "200x200") %>   
    </p>
    
    <p id="link-approval">
      <%= render partial: 'links/partials/approve_link', 
                 locals: { link: link } %>
    </p>
    
    <p>
    <%= link_to "Visit Site", link.url, class: "btn btn-success",
          target: "_blank" %>
    </p>
  
    <p class="lead">
    <%= link.description %>
    </p>
    
    <p>
      <strong>Submitted by:</strong><br>
      <%= link_to user_path(link.user) do %>
        <%= image_tag(link.user.profile_image.url(:micro)) %><br>
        <%= link.user.username %>
      <% end %>
    </p>
    
  </div>
</div>