<div class="media">
  <div class="media-left">
    <%= link_to user_path(comment.user) do %>
      <%= image_tag(comment.user.profile_image.url(:micro),
          class: "media-object") %>
    <% end %>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= comment.user.username %></h4>
    <%= comment.content %>
    <% if can?(:destroy, comment) %>
      <div class="delete-comment-btn">
        <%= link_to "Delete Comment", link_comment_path(comment.link, comment),
            method: :delete, remote: true, class: "btn btn-danger btn-xs",
            data: { confirm: "Delete this comment?" } %>
      </div>    
    <% end %>
  </div>
</div>